body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-button,
.edit-button,
.view-button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

.add-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button {
    background-color: #ffc107;
}

.view-button {
    background-color: #28a745;
}
